html, body, .row, .columns {
	height: 100%;
}

body {
	overflow: hidden;
}

p {
	margin: 0;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	padding: 0 10px;
}

th, td {
	padding: 0.1rem;
	padding-bottom: 0;
}

.columns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#controlsContainer {
	padding: 2.5rem;
	padding-bottom: 0;
	text-align: center;
}

#chartContainer {
	width: 100%;
	height: 100%;
}

#infoContainer {
	background-color: #555;
	color: #fff;
}

#infoContainer > * {
	padding: 2.5rem;
}

#portfolio td:nth-child(1) {
	width: 40%;
}

#portfolio td:nth-child(2) {
	width: 20%;
}

#news {
	overflow-y: scroll;
}
